.right-login{
    height: 100vh;
}

.btn-home{
    width: 70%;
    font-weight: 600;
    padding: 4px 0px;
    margin: 2px;   
    letter-spacing: 3px;

}

form .btn-cadastrar{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background: #00ff88;
    cursor: pointer;
}

@media only screen and (max-width: 600px){
    form .textfield{
        margin: 8px 0px;
    }

    form .textfield > input{
        border-radius: 8px;
        padding: 8px;
        font-size: 11pt;
    }
    
    form .btn-cadastrar{
        width: 100%;
        padding: 8px 0px;
        margin: 15px;
        border: none;
        border-radius: 8px;
        outline: none;
        text-transform: uppercase;
        font-weight: 800;
        letter-spacing: 3px;
        color: #2b134b;
        background: #00ff88;
        cursor: pointer;
    
    }

    .left-login{
        height: 20%;
    }
    
    .right-login{
        height: 100%;
    }

    form .textfield > label{
        margin-bottom: 8px;
    }
}