.right-login{
    height: 100%;
}

.btn-home{
    width: 70%;
    font-weight: 600;
    padding: 3px 0px;
    margin: 2px;   
    letter-spacing: 2px;

}

card-login {
    height: auto;
}

form .textfield > input{
    padding: 5%;

}

form .textfield > label{
    margin-bottom: 5%;
}

form .btn-cadastrar{
    width: 100%;
    padding: 2% 0px;
    margin: 2%;
    border: none;
    border-radius: 6px;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 3px;
    color: #2b134b;
    background: #00ff88;
    cursor: pointer;
}

form .textfield > label{
    margin-bottom: 6px;
}

@media only screen and (max-width: 600px){
    form .textfield{
        margin: 6px 0px;
    }

    form .textfield > input{
        border-radius: 6px;
        padding: 6px;
        font-size: 10pt;
    }
    
    form .btn-cadastrar{
        width: 100%;
        padding: 1% 0px;
        margin: 5px;
        border: none;
        border-radius: 4px;
        outline: none;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 2px;
        color: #2b134b;
        background: #00ff88;
        cursor: pointer;
    
    }

    .left-login{
        height: 20%;
    }
    
    .right-login{
        height: 100%;
    }

    form .textfield > label{
        margin-bottom: 4px;
    }
}